@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override the size and styling of the zoom controls */
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    width: 10px;
    height: 10px;
    font-size: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.leaflet-control-zoom {
    margin-top: 10px;
}

/* Scroll bar custom styling for hourly forecast */
.scroll-container::-webkit-scrollbar {
    width: 8px;
    height: 2px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.mainCardBg {
    /* background: rgb(77, 126, 255);
    background: linear-gradient(360deg, rgba(77, 126, 255, 1) 0%, rgba(109, 189, 253, 1) 100%); */
    background: linear-gradient(to bottom right, #1a365d, #2d3748);
}


